.imageLogo {
  display: inline;
  width: 30px;
  margin: 0 3px -6px 0;
  background-image: url("./shared/img/favicon.png") no-repeat;
}

.divApp {
  grid-column: 2 / 3;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #272822;
  margin: 20px 0 0 0;
  padding: 0px 30px 30px 30px;
}

.titleApp {
  display: inline;
  font-size: 26px;
  font-weight: bolder;
}

.subTitle{
  font-size: 20px;
  font-style: italic;
}

.errorMessage {
  font-style: italic;
  color: grey;
}

#searchInput {
  font-size: 20px;
  margin: 0 0 0 5px;
  border: 0;
  outline: 1px solid #ff6600;
  border-radius: 5px;
  padding: 2px 0 2px 5px;
  transition: all 0.2s ease-in;
}

#searchInput:focus {
  outline: none;
  border: 0;
  outline: 2px solid #ff6600;
  transition: all 0.2s ease-in;
}

#submitButton {
  background-color: white;
  color: #272822;
  font-size: 18px;
  border: 0;
  outline: 1px solid #ff6600;
  border-radius: 5px;
  padding: 4px 10px 2px 10px;
  margin: 0 0 0 10px;
  transition: all 0.15s ease-in;
}

#submitButton:hover {
  background-color: #ffd0b0;
  outline: 2px solid #ff6600;
  transition: all 0.15s ease-in;
}

#submitButton:active {
  background-color: #ff6600;
}

#bodyTable {
  overflow-x: auto;
}

.tableStories {
  border: 0px solid white;
  display: grid;
}

.rowStoriesHead {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.rowStoriesHead th, .rowStories1 td, .rowStories2 td {
  padding: 5px;
}

.rowStories1, .rowStories2 {
  text-align: left;
  transition: all 0.1s ease-in;
}

.rowStories1:hover, .rowStories2:hover {
  outline: 2px solid #ff6600;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}

.rowStories1 {
  background-color: inherit;
}

.rowStories2 {
  background-color: #ffe2cf;
}

.fieldData{
  font-weight: normal;
  white-space: nowrap;
}

.linkField {
  padding: 0 5px 0 5px;
  text-decoration: none;
  font-weight: bolder;
  color: #272822;
  word-break: normal;
}

.linkField:hover {
  padding: 0 5px 0 5px;
  color: white;
  background-color: #ff6600;
  transition: all 0.15s ease-in;
}

.buttonCol {
  text-align: center;
}

#dismissButton {
  position: relative;
  display: inline-block;
  border: 0px solid;
  border-radius: 5px;
  background-color: inherit;
  font-size: 18px;
  text-align: center;
}

#dismissButton:hover {
  background-color: #ffd0b0;
  transition: all 0.15s ease-in;
}

#dismissButton:active {
  background-color: #ff6600;
}

.buttonSpan .buttonTooltip {
  position: absolute;
  z-index: 1;
  width: auto;
  visibility: hidden;
  padding: 7px;
  background-color: #ff6600;
  color: white;
  border-radius: 5px;
}

.buttonSpan:hover .buttonTooltip {
  visibility: visible;
  transition: all 0.15s ease-in;
}

.divFooter {
  grid-column: 2 / 3;
  background-color: whitesmoke;
  color: #272822;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  padding: 10px;
  font-weight: bolder;
  width: 220px;
  text-align: center;
}

.imageLogoFooter {
  display: inline;
  width: 20px;
  margin: 0 3px -4px 0;
  padding: 0;
  background-image: url("./shared/img/favicon.png") no-repeat;
}

.titleFooter {
  display: inline;
  font-size: 17px;
}