.imageLogo {
  width: 50px;
  margin: 0 0 0 14px;
  background-image: url("./img/favicon.png") no-repeat;
}

.divApp {
  grid-column: 1 / 2;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #272822;
  margin: 0 0 20px 20px;
  padding: 0px 30px 30px 30px;
}

.subTitle{
  font-size: 20px;
  font-style: italic;
}

.errorMessage {
  font-style: italic;
  color: grey;
}

#searchInput {
  font-size: 20px;
  margin: 0 0 0 5px;
  border: 0;
  outline: 1px solid #ff6600;
  border-radius: 5px;
  padding: 2px 0 2px 5px;
}

#searchInput:focus {
  outline: none;
  border: 0;
  outline: 2px solid #ff6600; 
}

#submitButton {
  background-color: white;
  color: #272822;
  font-size: 18px;
  border: 0;
  outline: 1px solid #ff6600;
  border-radius: 5px;
  padding: 4px 10px 2px 10px;
  margin: 0 0 0 10px;
}

#submitButton:hover {
  background-color: #ffd0b0;
  outline: 2px solid #ff6600;  
}

#submitButton:active {
  background-color: #ff6600;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.items {
  margin: 0 0 20px 0;
  padding: 20px 20px 10px 20px;
  background-color: white;
  border-radius: 5px;
}

.items:hover {
  outline: 2px solid #ff6600;
  border: 0;
}

@media only screen and (max-width: 599px) {
  .containerSubItems {
    display: grid;
    grid-template-columns: 10% auto 6%;
  }
}

@media only screen and (min-width: 600px) {
  .containerSubItems {
    display: grid;
    grid-template-columns: 5% 90% auto;
  }
}

.firstColSubItems {
  grid-column: 1 / 2;
  text-align: left;
}

.secondColSubItems {
  grid-column: 2 / 3;
}

.thirdColSubItems {
  grid-column: 3 / 3;
}

.numberField {
  background-color: #272822;
  color: white;
}

.fieldTitle {
  font-weight: lighter;
  color: grey;
  word-break: keep-all;
}

.fieldData{
  font-weight: normal;
  word-break: break-all;
}

.fieldDataBold{
  font-weight: bolder;
  word-break: break-all;
}

.linkField {
  text-decoration: none;
  font-weight: bolder;
  color: #272822;
}

.linkField:hover {
  color: white;
  background-color: #ff6600;
}

.buttonDiv {
  text-align: right;
  word-break: break-word;
}

#dissmissButton {
  position: relative;
  display: inline-block;
  border: 0px solid;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  background-color: inherit;
  font-size: 18px;
}

#dissmissButton:hover {
  background-color: #ffd0b0;
}

#dissmissButton:active {
  background-color: #ff6600;
}

.buttonDiv .buttonTooltip {
  position: absolute;
  z-index: 1;
  width: auto;
  visibility: hidden;
  text-align: center;
  background-color: #ff6600;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.buttonDiv:hover .buttonTooltip {
  visibility: visible;
}