html, body {
  background: linear-gradient(90deg, #ff6600 0%, #dd5800 100%) repeat;
  color: #272822;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 599px) {
  #root { grid-template-columns: 90% auto; }
}

@media only screen and (min-width: 600px) {
  #root { grid-template-columns: 70% auto; }
}

@media only screen and (min-width: 1000px) {
  #root { grid-template-columns: 60% auto; }
}

@media only screen and (min-width: 1200px) {
  #root { grid-template-columns: 50% auto; }
}

#root {
  display: grid;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}
